.font-size-container{
  position:fixed;
  right:5%;
  top: 45%;
  transform: rotate(-90deg);
  .font-size-icon{
    transform: rotate(90deg);
    width: 30px;
  }

  .range {
    
    width: 100px;
    height: 15px;
    -webkit-appearance: none;
    background: #ffffff;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
  }

  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #17252a;
    cursor: pointer;
    box-shadow: -407px 0 0 400px #2b7a78;
  }
}