<div class="details-container" [style.--fontsize]="fontsize + 'px'">
    <button class="btn btn-primary" [routerLink]="['/']"> back to headlines page</button>
    <div >
        <br>
        <br>
        <img class="news-image" src = '{{ newsData.urlToImage }}' alt='{{ newsData.title }}'>
        <h2 class=""> {{ newsData.title }} </h2>
        <p> news author : {{ newsData.author }} </p>
        <p> news description : {{ newsData.description }} </p>
        <p> news content : {{ newsData.content }} </p>
        <p> news publishedAt : {{ this.pipe.transform(newsData.publishedAt, 'mediumDate') }} </p>
        <p> Source name : {{ newsData.source.name }} </p>
    </div>
</div>
<app-font-size (event)=receiveFontSize($event)></app-font-size>
