.details-container{
    background-color: #feffff !important;
    border-radius: 15px;
    padding: 15px;
    font-size: var(--fontsize) !important;
    .news-image{
        width: 100% !important;
        border-radius: 15px;
    }
}